:root {
  --header-logo-color: #000000;
  --color-accent: #2196f3;
  --first-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --header-list-color: #212121;
  --tex-address-color: rgba(255, 255, 255, 0.6);
  --btn-text-color: #ffffff;
  --footer-logo-color: #ffffff;
  --filter-btn-color: #212121;
  --filter-btn-bgr: #f5f4fa;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset (50%);
  margin: -1px;
}

.header-item-link-current {
  color: var(--color-accent);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

/* ----------------------------HEADER---------------------------*/
/*для логотипа*/
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-logo,
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header-logo-web,
.footer-logo-web {
  color: var(--color-accent);
}
.header-logo-stydio {
  color: var(--header-logo-color);
}
/*header-container*/
.header-container {
  display: flex;
  align-items: center;
}

.hader-navigatin {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-item {
  margin-right: 50px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-item:first-child {
  margin-left: 93px;
}

.header-contact-list {
  margin-left: auto;
}

.header-contact-item:first-child {
  margin-right: 50px;
}

.header-contact-list {
  display: flex;
}

.header-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-list-color);
}

.header-item-link:hover,
.header-item-link:focus {
  color: var(--color-accent);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--color-accent);
}

/* ----------------------------HERO---------------------------*/
.hero {
  height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-title-color);
}

.hero-btn {
  min-width: 200px;
  padding: 10px 32px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background-color: var(--color-accent);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* ----------------------------ADVANTAGES---------------------------*/
.advantages-list {
  display: flex;
}
.advantage-item {
  width: 270px;
  margin-right: 30px;
}
.advantage-item:last-child {
  margin-right: 0;
}

.advantages-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ----------------------------WORK---------------------------*/
.work {
  padding-top: 0;
}

.work-title {
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-list-item {
  margin-right: 30px;
}
.work-list-item:last-child {
  margin-right: 0;
}

.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
/* ----------------------------TEAM---------------------------*/
.team {
  /* padding-top: 0; */
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}
.team-list-item {
  width: calc ((100% - 90px) / 4);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.team-list-item:last-child {
  margin-right: 0;
}
.team-second-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team-text {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
/* ----------------------------FOOTER---------------------------*/
.footer {
  background-color: #2f303a;
}
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo-stydio {
  color: var(--footer-logo-color);
}

.footer-address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-logo-color);
}

.footer-item:first-child {
  margin-top: 9px;
  margin-bottom: 6px;
}
.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--tex-address-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--color-accent);
}

/* ----------------------------PORTFOLIO PAGE---------------------------*/

.filter-btn {
  margin-bottom: 34px;
  border-style: none;
  padding: 6px 22px;
  margin-right: 8px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--filter-btn-color);
  background-color: var(--filter-btn-bgr);
  border-radius: 4px;
  cursor: pointer;
}

.filter-btn:last-child {
  margin-right: 0;
}
.filter-btn-list {
  display: flex;
  justify-content: center;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--btn-text-color);
  background-color: var(--color-accent);
}
.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.filter-list > .filter-list-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.filter-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.filter-text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
